[submodule "bin/.bin/repos/ivle-sync"]
	path = bin/.bin/repos/ivle-sync
	url = https://github.com/goweiwen/ivle-sync.git
[submodule "nvim/.config/nvim/dein/repos/github.com/Shougo/dein.vim"]
	path = nvim/.config/nvim/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule "zsh/.config/base16-shell"]
	path = zsh/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "bin/.bin/repos/osu"]
	path = bin/.bin/repos/osu
	url = https://github.com/ppy/osu
