[submodule "bin/.bin/repos/ivle-sync"]
	path = bin/.bin/repos/ivle-sync
	url = https://github.com/goweiwen/ivle-sync.git
[submodule "nvim/.config/nvim/dein/repos/github.com/Shougo/dein.vim"]
	path = nvim/.config/nvim/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule "zsh/.config/base16-shell"]
	path = zsh/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "kakoune/.config/kak/kakoune-extra"]
	path = kakoune/.config/kak/kakoune-extra
	url = https://github.com/lenormf/kakoune-extra.git
[submodule "doom-emacs/.emacs.d"]
	path = doom-emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs
	branch = develop

[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "awesome/.config/awesome/awesome-wm-widgets"]
	path = awesome/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "awesome/.config/awesome/plugins/media-player"]
	path = awesome/.config/awesome/plugins/media-player
	url = https://github.com/macunha1/awesomewm-media-player-widget
[submodule "qmk/qmk_firmware"]
	path = qmk/qmk_firmware
	url = https://github.com/goweiwen/qmk_firmware
[submodule "qutebrowser/.config/qutebrowser/catppuccin"]
	path = qutebrowser/.config/qutebrowser/catppuccin
	url = https://github.com/catppuccin/qutebrowser.git
	branch = main
[submodule "awesome/.config/awesome/vicious"]
	path = awesome/.config/awesome/vicious
	url = https://github.com/vicious-widgets/vicious.git
