[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "awesome/.config/awesome/awesome-wm-widgets"]
	path = awesome/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "awesome/.config/awesome/plugins/media-player"]
	path = awesome/.config/awesome/plugins/media-player
	url = https://github.com/macunha1/awesomewm-media-player-widget
[submodule "qmk/qmk_firmware"]
	path = qmk/qmk_firmware
	url = https://github.com/goweiwen/qmk_firmware
[submodule "qutebrowser/.config/qutebrowser/catppuccin"]
	path = qutebrowser/.config/qutebrowser/catppuccin
	url = https://github.com/catppuccin/qutebrowser.git
	branch = main
[submodule "awesome/.config/awesome/vicious"]
	path = awesome/.config/awesome/vicious
	url = https://github.com/vicious-widgets/vicious.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/goweiwen/nvim.git
