@theme "~/.config/rofi/themes/catppuccin-mocha.rasi"

configuration {
  drun-display-format: "{name}";
  hover-select: false;
  location: 0;
}

listview {
  lines: 4;
}

window {
  x-offset: 0;
  y-offset: 0;
}
